/*
Add styles or override variables from the theme here.
https://www.docsy.dev/docs/adding-content/lookandfeel/#fonts

Docsy's default colors
$primary: #30638e !default;
$secondary: #ffa630 !default;
$success: #3772ff !default;
$info: #c0e0de !default;
$warning: #ed6a5a !default;
$danger: #ed6a5a !default;
$light: #d3f3ee !default; // TODO: consider using BS value
$dark: #403f4c !default;  // TODO: consider using BS value
*/

